<main>
  <p-tabView>
    <p-tabPanel header="Tarefas">
      <p-card header="Tarefas" subheader="Suas tarefas">
        <form>
          <span class="p-float-label">
            <input type="text" id="float-input" pInputText>
            <label for="float-input">Qual a sua próxima tarefa?</label>
          </span>
          <div class="adicionar-botao">
            <button pButton label="Adicionar" type="submit" icon="pi pi-check"></button>
          </div>
        </form>

      </p-card>

    </p-tabPanel>
    <p-tabPanel header="Gráfico">

    </p-tabPanel>
  </p-tabView>
</main>
